@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css");


.jumbotron{
	margin-top: 40px;
	background: url("../img/featured2.jpg") bottom center no-repeat;
	background-size: cover;
	color: #FFFFFF;
}

.jumbotron h1{
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #888888;
}

footer{
	border-top: 1px dashed #CCCCCC;
	margin: 40px 0px;
	padding: 20px 0px;
}